.overlaySearch {

	position: absolute;
	z-index: 2;
	background-color: white;
	width: 70%;
	height: 3rem;
	margin: 0 auto;
	margin-left: 14%;

	border-radius: 10px;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-content: center;
	align-items: center;
}