.star {

	background-color: var(--ion-color-primary);
	padding: 0.2rem;
	margin-right: 0.1rem;
	border-radius: 4px;
	color: white;
}

.outlineStar {

	background-color: rgb(216, 216, 216);
	color: white;
	padding: 0.2rem;
	margin-right: 0.1rem;
	border-radius: 4px;
}